<div class="search-results">
    <div class="stock-symbol">
        NTDOY
        <hr>
    </div>
    <div class="market-price">
        Current Market Price<br>
        1 share<br>
        <input type="text" class="input">
        <button class="button-buy">Buy</button>
        <button class="button-sell">Sell</button>
    </div>

</div>
