.search-results{
    height: 130px;
    width: 330px;
    border-color: black;
}
.stock-symbol{
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 3px;
}
hr{
    width: 200px;
    border-top: .25px solid rgba(0, 0, 0, .2);
    box-shadow: none;
    margin-top: 5px;
}
.market-price{
    font-size: 14;
    font-weight: 300;
    text-align: center;
    color: rgba(0, 0, 0, .8);
}
.input{
    margin-top: 45px;
    border-radius: 8px;
    float: left;
    margin-left: 15px;
    height: 25px;
}
button{
    margin-top: 50px;
    font-size: 12pt;
    border-radius: 8px;
}
.button-buy{
    background-color: #00BD3D;
    color: black;
    margin-right: 8px;
    border:none;
    padding: 3px 20px 3px 20px;
}
.button-sell{
    padding: 3px 20px 3px 20px;
    background-color: #CCCCCC;
    color: black;
    
    border:none;

}