    <app-top-bar></app-top-bar>
    <br>
    

    <div class="flex-container">
        <app-my-stocks class="my-stocks"></app-my-stocks>
        <app-search class="position"></app-search>
       <app-power class="position"></app-power>
        
      </div>