.power-box{
    border: .5px solid rgba(0, 0 , 0, .3);
    border-radius: 28px 28px 28px 28px ;
    border-spacing: 0px;
    height: 130px;
    width: 330px;
    float: right;
    margin: 0px 25px 25px 0px;
    text-align: center;
    font-size: 20pt;
}

.title-bar{
    text-align: center;
    background-color: #002D72;
    border-radius: 28px 28px 0px 0px;
    height: 45px;
    color: white;
}
.title{
    padding: 12px;
    font-size: 14pt;
}
.money{
    padding: 25px;
    font-size: 20pt;
    color: #002D72;
}