
<table>
    <tr>
<th colspan="4" class="my-stocks-header">My Stocks</th>
    </tr>
    <td *ngFor="let head of stockHeaders" scope="col">{{head}}
    </td>
    <tr *ngFor="let el of elements">
    <td >{{el.name}}</td>
      <td>{{el.purchase}}</td>
      <td>{{el.current}}</td>
      <td>{{el.owned}}</td>
    </tr>
  </table>
