.table-border{
    padding-left: 15px;
    width:440px ; 
    height: 768px; 
    overflow: auto;
    border-color: black;
    ;

}
table{
    /* border-collapse: collapse; */
    border: .5px solid rgba(0, 0 , 0, .3);
    border-radius: 28px 28px 0px 0px ;
    border-spacing: 0px;
    text-decoration: none;
    color: rgba(0, 0 , 0, .8)

}

   td{
    padding: 15px;
    text-align: center;

    
      
  }
  th{
    text-align: center;
    background-color: #002D72;
    border-radius: 28px 28px 0px 0px;
    height: 45px;
    color: white;
  }
  
  tr:nth-child(even) {
      border-collapse: collapse;
      background-color: rgba(0, 45, 114, .15);
  }

  tr:nth-child(odd) {
    border-collapse: collapse;
    background-color: rgba(0, 45, 114, .30);
}


  
 
