.search-box{
    border: .5px solid rgba(0, 0 , 0, .3);
    border-radius: 28px 28px 28px 28px ;
    border-spacing: 0px;
    height: 230px;
    width: 330px;
    float: right;
    margin: 0px 75px 25px 75px;
    
}
.search-bar{
    text-align: center;
    background-color: #002D72;
    border-radius: 28px 28px 0px 0px;
    height: 45px;
    color: white;
    
}
input{
    align-items: left;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 35px;
    float: left;
    height: 18px;
    width: 175px;
    border: 1px solid #BDBDBD;
}


button{
    background-color:#056DAE;
    border-radius: 15px;
    color: white;
    margin-top: 12px;
    padding: 3px 25px 3px 25px;
    border: none;
    box-shadow: 2px 5px 5px rgba(0,0,0,.3);
}
.button:hover, button:hover {
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0px;
  }
  button:active{
      border: none;
      outline: none;
      box-shadow: 0px;
  }
