div{
    width: 1440px;
    height: 85px;
    top: 0px;
    left: 0px;
    background-image: linear-gradient( 180deg, rgba(0,189,242,100)0%, 
                                            rgba(0,179,240,100) 20%, 
                                            rgba(0,102,179,100) 75%, 
                                            rgba(0,71,133,100) 100%);
    mix-blend-mode: multiply;
}
